h1 {
    font-family: 'Lato', sans-serif;
    font-weight:1000;
    letter-spacing: 2px;
    font-size:24px;
    color: white;

  }
.commonContainer{
    width: 90%;
    margin: auto;
    text-align: center;
    border: 1px solid;
}
.teamCard{
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all .7s;
    background-color: black;
}
.teamCard img{
    transition: all .7s;
}
.teamCardCaption{
    margin: auto;
    width: 90%;
    height: 300px;
    margin-top: 100px;
    background-color: white;
    transition: all .7s;
    transform: scale(1, 1) translateY(-160%);
    opacity: 0;
}
.teamCard:hover .teamCardCaption{
    opacity: 0.75;
    transform: scale(1,1) translateY(-140%);
}

.teamCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

.teamCard:hover img{
    opacity: 0.5;
}

/* animations */
#first{
    animation: fadein 1s;
   }
#second{
    animation: fadein 1s;
   }
#thired{
    animation: fadein 1s;
   }
@keyframes fromTop {
    from   { 
    transform: translateY(-200%); 		
    }
    to { 
    transform: translateY(0%); 
    }
   }
   @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }