<body>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div id="confirmPay" class="modal">
  <div class="modal-content" id = "modal-content">
    <div id="balancer">
      <div style="float: left; width: 50%; text-align: left;">
        <h1 style="margin-left: 10px;">Research is<br> Creating <br> New Knowledge</h1>
        <div class="wrapper" (click)="openSite()">
          <div class="video-main">
            <div class="promo-video">
              <div class="waves-block">
                <div class="waves wave-1"></div>
                <div class="waves wave-2"></div>
                <div class="waves wave-3"></div>
              </div>
            </div>
            <div class="video video-popup mfp-iframe" data-lity><p>Visit</p></div>
          </div>
        </div>
      </div>
      <div style="float: left; width: 50%; text-align: right;">
        <div class = "contentBoxBg" id = "logoBox">
        </div>
        
      </div>
    </div>
    
    
    
  </div> 
</div>
<mat-toolbar id = "toolBar">
  <div class="menuBox">
   <div class="menuItem" id="homeItem" (click) = "goHome()">HOME</div>
   <div class="menuItem" id="aboutItem" (click) = "goAbout()">ABOUT</div>
   <div class="menuItem" id="projectsItem" (click) = "goProj()">PROJECTS</div>
   <div class="menuItem" id="contactItem" (click) = "goContact()">CONTACT</div>
  </div>
   
</mat-toolbar>








<router-outlet></router-outlet>
</body>